<button id="generalitesButton" [ngClass]="{'open': visible}" title="Généralités du devoir" (click)="toggleVisibility($event)">
  <i class="material-icons md-48" *ngIf="visible == false">info</i>
  <i class="material-icons md-36" *ngIf="visible == true">close</i>
</button>

<section id="generalitesMenu" [ngClass]="{'open': visible}">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel title="Informations">
      <ng-template ngbPanelContent>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Titre</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="devoirService.devoir.titre" placeholder="Titre du devoir">
        </div>
        <ng-template #t2>
          <button (click)="devoirService.devoir.creationDate = today" class="btn btn-sm btn-outline-primary">Aujourd'hui</button>
        </ng-template>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Date</span>
          </div>
          <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel" [(ngModel)]="devoirService.devoir.devoirDate"
            ngbDatepicker #d2="ngbDatepicker" [footerTemplate]="t2">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm" (click)="d2.toggle()" type="button">
              <i class="material-icons md-18">calendar_today</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Arrondi</span>
          </div>
          <input type="number" step="0.05" min="0.05" max="5" class="form-control" [(ngModel)]="devoirService.devoir.arrondi" (blur)="checkArrondi($event)"
            placeholder="0.5">
          <div class="input-group-append">
            <ng-template #popContent>Arrondi appliqué à la note finale bulletin.
              <hr/>
              <small>Exemple : si la note est de 18.25 est l'arrondi est 0.5 alors la note finale est 18.5.</small>
            </ng-template>
            <ng-template #popTitle>Arrondi de notation</ng-template>
            <button class="input-group-text" type="button" [ngbPopover]="popContent" [popoverTitle]="popTitle">
              <i class="material-icons md-18">help</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Mode</label>
          </div>
          <select class="custom-select" [(ngModel)]="devoirService.devoir.notationMode">
            <option selected>Choose...</option>
            <option [ngValue]="notationModeNormal.id">{{notationModeNormal.titre}}</option>
            <option [ngValue]="notationModeProportionnel.id">{{notationModeProportionnel.titre}}</option>
            <option [ngValue]="notationModeRapporte.id">{{notationModeRapporte.titre}}</option>
          </select>
          <div class="input-group-append">
            <ng-template #popContent2>{{notationModeNormalContent}}</ng-template>
            <ng-template #popTitle2>{{notationModeNormalTitre}}</ng-template>
            <button class="input-group-text" type="button" [ngbPopover]="popContent2" [popoverTitle]="popTitle2" (click)="toggleNotationMode()">
              <i class="material-icons md-18">help</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3" *ngIf="devoirService.devoir.notationMode == 2 || devoirService.devoir.notationMode == 3">
          <div class="input-group-prepend">
            <span class="input-group-text">Cible</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="devoirService.devoir.notationCible" placeholder="20">
          <div class="input-group-append">
            <ng-template #popContent>Note cible obtenue après application du mode transformation.</ng-template>
            <ng-template #popTitle>Note cible</ng-template>
            <button class="input-group-text" type="button" [ngbPopover]="popContent" [popoverTitle]="popTitle">
              <i class="material-icons md-18">help</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupGrille">Grille</label>
          </div>
          <div class="btn-group" ngbDropdown role="group">
            <button class="btn btn-outline-secondary" ngbDropdownToggle>{{devoirService.devoir.grille?.titre}}
              <span *ngIf="devoirService.devoir.grille && grilleService.isAnExistingGrille(devoirService.devoir.grille) == false">(ce devoir)</span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <h6 class="dropdown-header">Grilles configurées dans l'outil</h6>
              <button *ngFor='let grille of grilleService.grilleItems | keyvalue' [ngClass]="{'active':grilleService.compareGrille(grille.value,devoirService.devoir.grille)}"
                ngbDropdownItem (click)="grilleChanged(grille.value)">{{grille.value.titre}}</button>
              <ng-container *ngIf="devoirService.devoir.grille && grilleService.isAnExistingGrille(devoirService.devoir.grille) == false">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Grille intégrée dans le devoir</h6>
                <button class="active" ngbDropdownItem>{{devoirService.devoir.grille.titre}} (ce devoir)</button>
              </ng-container>
            </div>
          </div>
          <div class="input-group-append">
            <button class="input-group-text" type="button" (click)="toggleGrilleSelection()">
              <i class="material-icons md-18">help</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupClasse">Classe</label>
          </div>
          <div class="btn-group" ngbDropdown role="group">
            <button class="btn btn-outline-secondary" ngbDropdownToggle>{{devoirService.devoir.classe?.titre}}
              <span *ngIf="devoirService.devoir.classe && classeService.isAnExistingClasse(devoirService.devoir.classe) == false">(ce devoir)</span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <h6 class="dropdown-header">Classes configurées dans l'outil</h6>
              <button *ngFor='let classe of classeService.classeItems | keyvalue' [ngClass]="{'active':classeService.compareClasse(classe.value,devoirService.devoir.classe)}"
                ngbDropdownItem (click)="classeChanged(classe.value)">{{classe.value.titre}}</button>
              <ng-container *ngIf="devoirService.devoir.classe && classeService.isAnExistingClasse(devoirService.devoir.classe) == false">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Classe intégrée dans le devoir</h6>
                <button class="active" ngbDropdownItem>{{devoirService.devoir.classe.titre}} (ce devoir)</button>
              </ng-container>
            </div>
          </div>
          <div class="input-group-append">
            <button class="input-group-text" type="button" (click)="toggleClasseSelection()">
              <i class="material-icons md-18">help</i>
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Généralités">
      <ng-template ngbPanelContent>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Auteur</span>
          </div>
          <input type="text" class="form-control" [ngModel]="devoirService.devoir.author" placeholder="Auteur du devoir">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Créé le</span>
          </div>
          <input type="text" class="form-control" [ngModel]="devoirService.devoir.creationDate" readonly ngbDatepicker #d1="ngbDatepicker">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Modifié le</span>
          </div>
          <input type="text" class="form-control" [ngModel]="devoirService.devoir.modificationDate" readonly ngbDatepicker #d3="ngbDatepicker">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Version</span>
          </div>
          <input type="text" class="form-control" [ngModel]="devoirService.devoir.toolVersion" placeholder="Auteur du devoir" readonly>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Statistiques" *ngIf="devoirService.devoir.notations.length > 0">
      <ng-template ngbPanelContent>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Note maximum</span>
          </div>
          <input type="text" class="form-control" value="{{devoirService.devoir.ajusterNote(devoirService.devoir.note_maximum)}} ({{devoirService.devoir.note_maximum}})"
            placeholder="0">
          <div class="input-group-append">
            <ng-template #popContentMax>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor='let eleve of devoirService.devoir.getElevesAvecNoteMaximum()'>{{eleve}}</li>
              </ul>
            </ng-template>
            <ng-template #popTitleMax>Eleves(s) concerné(s)</ng-template>
            <button class="input-group-text" type="button" [ngbPopover]="popContentMax" [popoverTitle]="popTitleMax">
              <i class="material-icons md-18">group</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Note minimum</span>
          </div>
          <input type="text" class="form-control" value="{{devoirService.devoir.ajusterNote(devoirService.devoir.note_minimum)}} ({{devoirService.devoir.note_minimum}})"
            placeholder="0">
          <div class="input-group-append">
            <ng-template #popContentMin>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor='let eleve of devoirService.devoir.getElevesAvecNoteMinimum()'>{{eleve}}</li>
              </ul>
            </ng-template>
            <ng-template #popTitleMin>Eleves(s) concerné(s)</ng-template>
            <button class="input-group-text" type="button" [ngbPopover]="popContentMin" [popoverTitle]="popTitleMin">
              <i class="material-icons md-18">group</i>
            </button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Moyenne</span>
          </div>
          <input type="text" class="form-control" value="{{devoirService.devoir.ajusterNote(devoirService.devoir.note_moyenne)}} ({{devoirService.devoir.note_moyenne}})"
            placeholder="0">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">&lt; Moyenne</span>
          </div>
          <input type="text" class="form-control" value="{{devoirService.devoir.nb_inferieur_moyenne}}" placeholder="0">
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>
