<div class="modal-header">
  <h4 class="modal-title" id="modal-title" *ngIf="notation">{{notation.eleve}}</h4>
  <h4 class="modal-title" id="modal-title" *ngIf="notation == null">Choix de l'élève</h4>
  <button type="button" class="close" (click)="modal.dismiss('close')">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="displayCapacites==false">
  <div *ngIf="notation" class="list-group list-group-root well" [ngStyle]="{'font-size.px': fontSizeDisplay}">
    <ng-container *ngFor='let exercice of devoirService.devoir.exercices'>
      <button type="button" class="list-group-item list-group-item-action list-group-item-dark" *ngIf="exercice.className == 'Exercice'">
        <span class="badge badge-pill exercice">&nbsp;</span>
        <span [innerHTML]="exercice.title"></span>
        <span>{{this.notation.getNote(exercice.criteres)}}/{{this.notation.getNoteMax(exercice.criteres)}}</span>
      </button>
      <div class="list-group">
        <ng-container *ngFor='let question of exercice.questions'>
          <button type="button" class="list-group-item list-group-item-action list-group-item-dark" *ngIf="question.className == 'Question'">
            <span class="badge badge-pill question">&nbsp;</span>
            <span [innerHTML]="question.title"></span>
            <span>{{this.notation.getNote(question.criteres)}}/{{this.notation.getNoteMax(question.criteres)}}</span>
          </button>
          <div class="list-group">
            <ng-container *ngFor='let critere of question.criteres'>
              <button [id]="critere.id" type="button" class="list-group-item list-group-item-action" [ngClass]="{'list-group-item-info': critereEvalue == critere}"
                *ngIf="critere.className == 'Critere'" (click)="toggleCritere(critere)">
                <span class="badge badge-pill critere">&nbsp;</span>
                <span [innerHTML]="critere.text"></span>
                <span [ngSwitch]="notation.getCritereStatus(critere)">
                  <button *ngSwitchCase="'ok'" class="material-icons text-success" title="{{critere.bareme}} pts" [ngStyle]="{'font-size.px': fontSizeDisplay*1.5}">check_circle_outline</button>
                  <button *ngSwitchCase="'encours'" class="material-icons text-warning" title="{{critere.bareme}} pts" [ngStyle]="{'font-size.px': fontSizeDisplay*1.5}">error_outline</button>
                  <button *ngSwitchCase="'ko'" class="material-icons text-danger" title="{{critere.bareme}} pts" [ngStyle]="{'font-size.px': fontSizeDisplay*1.5}">cancel</button>
                  <button *ngSwitchDefault class="material-icons text-secondary" title="{{critere.bareme}} pts" [ngStyle]="{'font-size.px': fontSizeDisplay*1.5}">help_outline</button>
                </span>
              </button>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="notation == null" class="list-group m-3 w-50 mx-auto">
    <button type="button" class="list-group-item list-group-item-action" *ngFor='let eleve of devoirService.devoir.classe.eleves'
      [ngClass]="{'list-group-item-info': devoirService.devoir.getEleveNotation(eleve) != null}" (click)="openNotation(eleve)">
      <h6 class="p-1">{{eleve}}</h6>
    </button>
  </div>
</div>
<div class="modal-body" *ngIf="displayCapacites">
  <table class="table table-striped m-2">
    <thead>
      <tr>
        <th scope="col">Capacité</th>
        <th scope="col">Détails</th>
        <th scope="col">Points</th>
        <th scope="col">Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let capaciteUsed of getUsedCapacites() | keyvalue ">
        <th class="py-1" scope="row">
          <span class="badge badge-pill" [ngStyle]="{'background-color': capaciteUsed.value.capacite.couleur}">{{capaciteUsed.key}}</span>
        </th>
        <td class="py-1">
          {{capaciteUsed.value.capacite.texte}}
        </td>
        <td class="py-1">
          {{capaciteUsed.value.pts}}
        </td>
        <td class="py-1 font-weight-bolder" [ngClass]="{'text-success': capaciteUsed.value.ok==capaciteUsed.value.total, 'text-warning': capaciteUsed.value.ok < capaciteUsed.value.total, 'text-danger': capaciteUsed.value.ok+capaciteUsed.value.encours==0}">
          <span *ngIf="capaciteUsed.value.ok==capaciteUsed.value.total && capaciteUsed.value.total!=0">Acquis</span>
          <span *ngIf="capaciteUsed.value.ok+capaciteUsed.value.encours < capaciteUsed.value.total && capaciteUsed.value.total!=0">En cours</span>
          <span *ngIf="capaciteUsed.value.ok+capaciteUsed.value.encours == 0 && capaciteUsed.value.total!=0">Non acquis</span>
          <span> ({{capaciteUsed.value.ok+(capaciteUsed.value.encours*0.5)}}/{{capaciteUsed.value.total}})</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer" *ngIf="displayCommentaire">
  <h4>Commentaire de notation</h4>
  <ckeditor [editor]="editor" [(ngModel)]="notation.commentaire" (blur)="onBlurEditor($event)" (focus)="onFocusEditor($event)"
    (ready)="onReadyEditor($event)"></ckeditor>
</div>
<div class="modal-footer">
  <div class="btn-group mr-2" *ngIf="notation">
    <button type="button" class="btn btn-outline-primary" title="Résultat total brut">
      <i class="material-icons md-dark">crop_free</i>
    </button>
    <button type="button" class="btn btn-outline-primary">
      {{notation.getNote()}}/{{notation.getNoteMax()}}
    </button>
    <button type="button" class="btn btn-outline-primary" title="Résultat total ajusté">
      <i class="material-icons md-dark">crop_din</i>
    </button>
    <button type="button" class="btn btn-outline-primary">
      {{devoirService.devoir.ajusterNote(notation.getNote())}}/{{devoirService.devoir.ajusterNote(notation.getNoteMax())}}
    </button>
  </div>

  <div class="btn-group mr-2" *ngIf="notation">
    <button (click)="changeZoom(1)" type="button" class="btn btn-outline-primary" title="Plus gros">
      <i class="material-icons md-dark">zoom_in</i>
    </button>
    <button (click)="changeZoom(-1)" type="button" class="btn btn-outline-primary" title="plus petit">
      <i class="material-icons md-dark">zoom_out</i>
    </button>
  </div>

  <div class="btn-toolbar" *ngIf="notation">
    <div class="btn-group mr-2">
      <button (click)="acceptAllCriteres()" type="button" class="btn btn-outline-success" title="Tout est juste">
        <i class="material-icons md-dark">check_circle_outline</i>
      </button>
      <button (click)="denyAllCriteres()" type="button" class="btn btn-outline-danger" title="Tout est faux">
        <i class="material-icons md-dark">cancel</i>
      </button>
      <button (click)="deleteAllCriteres()" type="button" class="btn btn-outline-secondary" title="Tout est à définir">
        <i class="material-icons md-dark">help_outline</i>
      </button>
    </div>
    <div class="btn-group mr-2">
      <button (click)="deleteNotation()" type="button" class="btn btn-outline-danger" title="Supprimer complètement la notation">
        <i class="material-icons md-dark">delete</i>
      </button>
      <button (click)="toggleCommentaire()" type="button" class="btn btn-outline-secondary" title="Commenter le travail de l'élève">
        <i class="material-icons md-dark">insert_comment</i>
      </button>
      <button (click)="toggleCapacites()" type="button" class="btn btn-outline-secondary" title="Voir le bilan de capacites">
        <i class="material-icons md-dark">playlist_add_check</i>
      </button>
    </div>
  </div>
  <button *ngIf="notationMode == 'multi' && notation" type="button" class="btn btn-primary" (click)="nextNotation()">Suivant</button>
  <button type="button" class="btn btn-success" (click)="modal.close('ok')">FERMER</button>
</div>
