<button id="menuButton" [ngClass]="{'open': visible}" title="Menu" (click)="toggleVisibility()">
  <i class="material-icons md-dark md-36" *ngIf="visible == false">more_vert</i>
  <i class="material-icons md-dark md-36" *ngIf="visible == true">close</i>
  <span *ngIf="devoirService.docIsEdited && visible==false" class="badge badge-danger">!</span>
</button>

<div class="btn-toolbar justify-content-between bg-light p-2">
  <div class="btn-group">
    <button type="button" (click)="toggleMode('edition')" class="btn" [ngClass]="{'btn-primary': mode == 'edition', 'btn-secondary': mode != 'edition'}"
      [disabled]="this.devoirService.devoir == null">Edition</button>
    <button type="button" (click)="toggleMode('notation')" class="btn" [ngClass]="{'btn-primary': mode == 'notation', 'btn-secondary': mode != 'notation'}"
      [disabled]="this.devoirService.devoir == null || this.devoirService.devoir.classe == null">Notation</button>
  </div>
</div>

<section [ngClass]="{'open': visible}">
  <span>myControle</span>
  <div>
    <h3>Gestion des devoirs</h3>
    <div (click)="openNewDevoir()">
      <i class="material-icons md-36 blueicon">note_add</i>
      <span>Nouveau devoir</span>
    </div>
    <div (click)="openExistingDevoir()">
      <i class="material-icons  md-36 blueicon">folder_open</i>
      <span>Ouvrir un devoir</span>
    </div>
    <div (click)="this.devoirService.devoir?checkDevoir():null" [ngClass]="{'disabled':this.devoirService.devoir === undefined}">
      <i class="material-icons  md-36 blueicon">playlist_add_check</i>
      <span>Vérifier</span>
    </div>
    <div (click)="this.devoirService.devoir?saveCurrentDevoir():null" [ngClass]="{'disabled':this.devoirService.devoir === undefined}">
      <i class="material-icons md-36 blueicon">save</i>
      <span>Enregistrer&nbsp;</span>
      <span *ngIf="devoirService.docIsEdited" class="badge badge-danger">Attention !</span>
    </div>
    <div (click)="printDevoir()" [ngClass]="{'disabled':this.devoirService.devoir === undefined}" title="Impression à distribuer aux élèves pour un devoir">
      <i class="material-icons md-36 greenicon">local_printshop</i>
      <span>Imprimer le devoir</span>
    </div>
    <div (click)="printCorrection()" [ngClass]="{'disabled':this.devoirService.devoir === undefined}" title="Correction pour le professeur pour évaluer en directe">
      <i class="material-icons md-36 greenicon">ballot</i>
      <span>Imprimer la correction</span>
    </div>
    <div (click)="printNotations()" [ngClass]="{'disabled':this.devoirService.devoir === undefined || this.devoirService.devoir.notations.length == 0}"
      title="Exporter les devoirs notés - un devoir par élève">
      <i class="material-icons md-36 greenicon">present_to_all</i>
      <span>Exporter les notes</span>
    </div>
    <div [ngClass]="{'disabled':this.devoirService.devoir === undefined || this.devoirService.devoir.notations.length == 0}"
      title="Exporter le bilan des notes - une matrice unique globale">
      <i class="material-icons md-36 greenicon">outlined_flag</i>
      <span>Consulter le bilan</span>
    </div>
    <h3>Configuration</h3>
    <div (click)="configuration.toggleVisibility()">
      <i class="material-icons md-36">settings_applications</i>
      <span>Préférences</span>
    </div>
    <div (click)="classeService.showClasse()">
      <i class="material-icons md-36">group</i>
      <span>Configurer les classes</span>
    </div>
    <div (click)="grilleService.showGrille()">
      <i class="material-icons md-36">emoji_events</i>
      <span>Consulter les grilles</span>
    </div>
    <input type="file" #fileInput (change)="openFile($event)" hidden/>
  </div>
  <div>
    <div>&copy; 2020 - Copyright HubR Design - Tous droits réservés - {{appVersionMenu}}</div>
  </div>
</section>

<app-configuration #configuration></app-configuration>
