<section *ngIf="visible">
  <button id="close" title="Fermer" (click)="toggleVisibility($event)">
    <i class="material-icons md-dark md-36">close</i>
  </button>
  <h1>Configuration</h1>
  <div *ngFor='let configItem of configurationService.configurationItems | keyvalue'>
    <div class="input-group mb-3" *ngIf="configItem.value.modifiable">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">{{configItem.value.title}}</span>
      </div>
      <input (change)="setValue(configItem.key, $event)" class="form-control" [(ngModel)]="configItem.value.value">
      <div class="input-group-append">
        <button class="btn btn-danger" (click)="reset(configItem.key)" type="button" title="Revenir à la valeur par défaut">
          <i class="material-icons">cancel</i>
        </button>
      </div>
    </div>
  </div>
</section>
