body{
background-color:white;
padding:0px;
margin:0px;
font-family:calibri!important;
}
body *{
font-family:calibri!important;
}
#s2{
width:100%;
background-color:white;
}
.s2_page{
width:100%;
box-sizing: border-box;
page-break-after: always;
background-color:white;
}
#s5_global, #s5_details, #s5_pupil, .s5_pupil_details {
width:100%!important;
background-color:#FFF!important;
padding:0px!important;
border:none!important;
margin:0!important;
}
#s5_global > table > tbody > tr > td:nth-child(5) > span,
#s5_det_pup_notes > tbody > tr > td:nth-child(5) > span {
font-size:1em!important;
}
.s5_det_graph_l {
width:100%!important;
border:none!important;
text-align: center!important;
}
.s5_det_graph_l img{
	max-width:100%!important;
}
.s5_title, h3, h2{
	font-size:1.2em;
	font-weight:bold;
	background-color:#DDD;
	padding:3px 0;
	margin:0;
}
h2{
	font-size:1.4em;
	background-color:#CCC;
}
h2 > span{
	display:inline-block;
	width:50%;
	margin:0;
	padding:0;
}
h2 > span:last-child{
	text-align:right;
}
.s5_pupil_details > div > div > span:first-child {
	font-size:1.1em!important;
}
.s5_pupil_details > div > div > span:nth-child(2) {
    font-size:1em!important;
}