body{
background-color:white;
padding:0px;
margin:0px;
font-family:calibri;
}
#s2{
width:100%;
background-color:white;
}
.s2_page{
width:100%;
box-sizing: border-box;
page-break-after: always;
background-color:white;
}
.s2_title{
width:100%;
padding:5px;
margin-bottom:15px;
box-sizing: border-box;
border-bottom:1px solid #AAA;
font-weight:bold;
}
.s2_title > span:first-child{
width:80%;
display:inline-block;
box-sizing: border-box;
text-align:left;
font-size:2.1em;
}
.s2_title > span:last-child{
width:20%;
display:inline-block;
box-sizing: border-box;
text-align:right;
font-size:1.6em;
color:#AAA;
}
.s2_pupil{
width: 75%;
margin: 10px auto;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
text-align:center;
font-size:2em;
font-weight:bold;
}
.s2_classe ,.s2_pupilbox{
width: 40%;
margin: 10px;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
text-align:center;
display:inline-block;
float:left;
}
.s2_pupilbox{
float:right;
}
.s2_classe > span:nth-child(1), .s2_pupilbox > span:nth-child(1){
font-size:2em;
color:#999;
display: block;
}
.s2_classe > span:nth-child(2),
.s2_pupilbox > span:nth-child(2){
display:block;
min-height:40px;
font-size:2em;
color:#333;
font-weight:bold;
}
.s2_note {
width: 75%;
margin: 10px auto;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
text-align:center;
}
.s2_note > span:nth-child(1){
font-size:2em;
color:#999;
display:block;
}
.s2_note > span:nth-child(2){
font-size:2em;
color:#333;
font-weight:bold;
}
.s2_note > span:nth-child(3){
font-size:1.6em;
color:#999;
}
.s2_comment{
width: 75%;
margin: 10px auto;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
}
.s2_comment > span:nth-child(1){
font-size:1.4em;
color:#999;
margin-left:15px;
margin-right:5px;
}
.s2_comment > span:nth-child(2){
font-size:1.2em;
color:#333;
}
.s2_gen_stats{
width: 75%;
margin: 10px auto;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
}
.s2_gen_stats > div{
display: inline-block;
width: 22.5%;
box-sizing: border-box;
text-align: center;
margin: 0 5px;
font-weight:bold;
}
.s2_gen_stats > div > span:first-child{
font-size:1.2em;
color:#999;
border-bottom:1px solid #AAA;
display: block;
padding:5px;
background-color: #F0F0F0;
}
.s2_gen_stats > div > span:last-child{
font-size:1em;
}
.s2_det_stats{
width: 570px;
margin: 10px auto;
box-sizing: border-box;
background-color: #FCFCFC;
padding: 10px;
border: 1px solid #E5E5E5;
}
.s2_det_stats > div{
display: inline-block;
box-sizing: border-box;
text-align: center;
margin: 0 5px;
}
.s2_det_stats > div:first-child > span{
border-bottom:1px solid #AAA;
padding:5px;
margin: 0 5px;
width: 150px;
display: inline-block;
font-size:1.2em;
color:#999;
background-color: #F0F0F0;
font-weight:bold;
}
.s2_det_stats > div:first-child > span:first-child {
padding-left:200px;
}
.s2_det_stats > div:last-child{
font-size:1.0em;
}
.s2_det_stats > div:last-child > div > span:first-child{
width:200px;
display:inline-block;
}
.s2_det_stats > div:last-child > div > span:nth-child(2),.s2_det_stats > div:last-child > div > span:nth-child(3){
width: 160px;
display:inline-block;
}
.s2_free{
clear:both;
width:100%;
}
.s2_exe{
clear:both;
width:100%;
border-top:1px solid #AAA;
background-color: #E5E5E5;
font-weight: bold;
}
.s2_exe > span:first-child{
width:75%;
text-align:left;
font-size:1.4em;
display: inline-block;
}
.s2_exe > span:last-child{
width:25%;
text-align:right;
font-size:1.4em;
color:#AAA;
display: inline-block;
}
.s2_que{
width:100%;
background-color: #F5F5F5;
}
.s2_que > span:first-child{
width:75%;
text-align:left;
display: inline-block;
font-size: 1.2em;
}
.s2_que > span:last-child{
width:25%;
text-align:right;
color:#AAA;
display: inline-block;
font-size: 1.2em;
}
.mycontrole-line{
border-bottom: dotted;
margin: 10px 10px;
line-height: 30px;
}
.s2_cri{
width:100%;
padding-left:30px;
box-sizing: border-box;
margin: 5px 0 5px 0;
}
.s2_cri > span:nth-child(1){
width:10%;
text-align:center;
display: inline-block;
font-weight: bold;
background-color:#F5F5F5;
}
.s2_cri > span:nth-child(2){
width:65%;
text-align:left;
display: inline-block;
padding-left: 5px;
box-sizing: border-box;
}
.s2_cri p{
margin:0;
}
.s2_cri > span:nth-child(3){
width:25%;
text-align:right;
display: inline-block;
}
.s2_cri > span:nth-child(3) > span{
display: inline-block;
border: 1px solid #333;
width: 20px;
height: 20px;
}