.material-icons.md-18
  font-size: 18px
.material-icons.md-24
  font-size: 24px
.material-icons.md-36
  font-size: 36px
.material-icons.md-48
  font-size: 48px

$freetext-color: #666
$exercice-color: #4CAF50
$question-color: #FAD46D
$critere-color: #6194C8

input[type=number]
  -moz-appearance: textfield

section
  padding: 20px 40px
  position: relative
  width: 100%
  box-sizing: border-box

section > h1
  font-size: 2em
  color: #999
  margin-bottom: 10px
  font-family: 'Segoe UI'
  font-weight: 700
  margin-top: 30px

section > h1 > span:last-child
  float: right

.freetext
  border: 1px solid #D0D0D0
  border-left: 8px solid $freetext-color
  position: relative
  padding: 4px 0px
  position: relative
  min-height: 38px

.freetext > span:nth-child(2)
  margin-right: 20px
  display: block
  padding: 3px
  border: 1px solid transparent

.freetext > span:nth-child(2):hover
  background-color:#FFF
  border: 1px solid #E5E5E5

.freetext > ckeditor
  background-color:#FFF
  border: 1px solid #E5E5E5
  width: 100%
  display: inline-block

.exercicefreetext
  border-left-width: 8px
  margin:2px 0
  background-color: #FFF

.questionfreetext
  border-left-width: 5px
  margin: 1px 7px 1px 7px
  background-color: #FDFDFD

.criterefreetext
  border-color: #E5E5E5
  border-left: 3px solid $freetext-color
  margin: 1px 7px 1px 7px
  background-color: #F5F5F5

.exercice
  margin: 2px 0
  border: 1px solid #D0D0D0
  background-color: #FFF
  border-left: 8px solid $exercice-color
  position: relative
  padding: 0px

.exercice > input
  font-size: 1.4em
  font-weight: 400
  width: 89%
  box-sizing: border-box
  display: inline-block
  margin: 3px
  border: 1px solid transparent
  background: transparent
  transition: all 200ms

.exercice > input:hover
  border: 1px solid #E5E5E5
  background-color: #FFF

.exercice > span:nth-child(3)
  font-size: 1.4em
  width: 9%
  box-sizing: border-box
  display: inline-block
  padding: 5px
  text-align: right
  font-family: 'Segoe UI'
  font-weight: 700
  color:#999

.question
  margin: 1px 7px 1px 7px
  border: 1px solid #D0D0D0
  background-color: #FDFDFD
  border-left: 5px solid $question-color
  position: relative

.question > span
  font-size: 1.1em
  font-weight: 400
  width: 88%
  box-sizing: border-box
  display: inline-block
  margin: 3px
  border: 1px solid transparent
  transition: all 200ms
  background-color: transparent

.question > span:hover
  border: 1px solid #E5E5E5
  background-color:#FFF

.question > span:nth-child(3)
  font-size: 1.1em
  width: 10%
  box-sizing: border-box
  display: inline-block
  padding: 5px
  text-align: right
  font-family: 'Segoe UI'
  font-weight: 700
  color:#999

.question > ckeditor
  width: 88%
  background-color:#FFF
  border: 1px solid #E5E5E5
  display: inline-block
  margin: 3px

.critere
  margin: 1px 7px 1px 7px
  border: 1px solid #E5E5E5
  background-color: #F5F5F5
  padding: 3px
  position: relative
  border-left: 3px solid $critere-color
  min-height: 41px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: stretch

.critere > span:nth-child(2)
  width: 60px
  font-weight: 700
  font-family: "Segoe UI"
  color:#D0D0D0
  text-align: left
  font-size: 1.1em

.critere > span:nth-child(2) > span
  cursor: pointer

.critere > span:nth-child(3)
  border: 1px solid transparent
  transition: all 200ms
  flex: 1

.critere > span:nth-child(3):hover
  background-color:#FFF
  border: 1px solid #E5E5E5

.critere > ckeditor
  flex: 1
  background-color:#FFF
  border: 1px solid #E5E5E5

.critere > span:last-child
  width: 80px
  box-sizing: border-box
  font-family: "Segoe UI"
  font-weight: 600
  color:#999
  text-align: right
  font-size: 1.1em
  margin-right: 20px

.critere > span:last-child > input
  border: 1px solid transparent
  padding: 2px
  transition: all 200ms
  background: none
  width: 60%
  font: inherit
  text-align: inherit
  color: inherit

.critere > span:last-child > input:hover
  background-color:#FFF
  border: 1px solid #E5E5E5

:host ::ng-deep .image
  position: relative
  clear: both
  text-align: center
  margin: 1em auto

:host ::ng-deep .image.image_resized
  max-width: 100%
  display: block
  box-sizing: border-box

:host ::ng-deep .image.image-style-side
  float: right
  margin-left: 1.5em

:host ::ng-deep .image>img
  display: block
  margin: 0 auto
  max-width: 100%
  min-width: 50px

:host ::ng-deep .image.image_resized img
  width: 100%

:host ::ng-deep .image>figcaption
  display: table-caption
  caption-side: bottom
  word-break: break-word
  color: #333
  background-color: #f7f7f7
  padding: .6em
  font-size: .75em
  outline-offset: -1px

:host ::ng-deep .image.image_resized>figcaption
  display: block

:host ::ng-deep code
  background-color: hsla(0,0%,78%,.3)
  padding: .15em
  border-radius: 2px

